<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>about-me</title>
	</head>
	<body>
		<h1>about-me</h1>
        
        <h3><a href="/portfolio" class="text-3xl font-bold underline">portfolio</a></h3>
	</body>
</html>