---
import "../styles/global.css";
import Topbar from "../components/Topbar.astro";
import Hero from "../components/Hero.astro";
---

<!doctype html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Project with Tailwind</title>
  </head>
  <body>
    <Topbar />
	<Hero/>
  </body>
</html>
