<div class="flex justify-between items-center m-4 font-alibaba">
  <div class="flex items-center gap-3 font-bold">
    <img src=" /logo.png" alt="logo" />
    <p class="text-xl">رض</p>
  </div>
  <div>
    <svg
      class="hover:scale-110"
      width="28"
      height="18"
      viewBox="0 0 28 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.5 18V15H27.5V18H0.5ZM0.5 10.5V7.5H27.5V10.5H0.5ZM0.5 3V0H27.5V3H0.5Z"
        fill="black"></path>
    </svg>
  </div>
</div>
